{% extends 'layout.html' %} {% block content %}
<section class="hero-section" id="hero-section">
  <h1 class="gradient-text">Pryora</h1>
  <p>Online Task Management Service</p>
  <a class="home-login-button" href="{{url_for('login')}}">LOGIN</a>
</section>
<div class="space"></div>
<div class="horizontal-line">
  <hr />
</div>
<div class="space"></div>
<section class="features-section" id="features">
  <h1>Organise Tasks</h1>
  <div class="all-features">
    <div class="feature-card">
      <div class="feature-info hidden-right">
        <h2>Feature A</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          sapiente similique voluptates dignissimos ullam beatae aperiam magnam
          deserunt sequi, quidem placeat corporis hic nulla cupiditate
          doloremque ipsam? Voluptatibus, cum ab!
        </p>
      </div>
      <div class="feature-animation hidden-left">
        <div class="box-a"></div>
        <div class="box-b"></div>
        <div class="box-c"></div>
      </div>
    </div>
    <div class="feature-card">
      <div class="feature-info hidden-right">
        <h2>Feature B</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          sapiente similique voluptates dignissimos ullam beatae aperiam magnam
          deserunt sequi, quidem placeat corporis hic nulla cupiditate
          doloremque ipsam? Voluptatibus, cum ab!
        </p>
      </div>
      <div class="feature-animation hidden-left">
        <div class="box-d"></div>
        <div class="box-e"></div>
        <div class="box-f"></div>
      </div>
    </div>
    <div class="feature-card">
      <div class="feature-info hidden-right">
        <h2>Feature C</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          sapiente similique voluptates dignissimos ullam beatae aperiam magnam
          deserunt sequi, quidem placeat corporis hic nulla cupiditate
          doloremque ipsam? Voluptatibus, cum ab!
        </p>
      </div>
      <div class="feature-animation hidden-left">
        <div class="box-g"></div>
        <div class="box-h"></div>
        <div class="box-i"></div>
      </div>
    </div>
  </div>
</section>
<div class="space"></div>
<div class="horizontal-line hidden-up">
  <hr />
</div>
<div class="space"></div>
<section class="about-Pryora hidden-up">
  <div><h1>About Pryora</h1></div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum illo
      facere voluptatem perferendis.
    </p>
    <p><a href="{{ url_for('about') }}">Learn More</a></p>
  </div>
</section>
{% endblock content %}
