@keyframes jump {

    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }
}

.box-a {
    animation: jump 3s ease-in-out infinite;
}

.box-b {
    animation: jump 3s ease-in-out infinite;
    animation-delay: 1s;
}

.box-c {
    animation: jump 3s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes slider1 {

    0%,
    80%,
    100% {
        transform: translateX(10px);
    }

    20% {
        transform: translateX(0);
    }
}

@keyframes slider2 {

    0%,
    80%,
    100% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(0);
    }
}

.box-d {
    animation: slider1 2s ease-in-out infinite;
    animation-delay: 2s;
}

.box-f {
    animation: slider2 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes wiggle {
    0% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(5px);
    }

}

.box-g {
    animation: wiggle 0.5s ease-in-out infinite;
    animation-delay: 2s;
}

.box-h {
    animation: wiggle 0.5s ease-in-out infinite;
    animation-delay: 2s;
}

.box-i {
    animation: wiggle 0.5s ease-in-out infinite;
    animation-delay: 2s;
}

.hidden-right {
    transform: translateX(150px);
}

.hidden-left {
    transform: translateX(-150px);
}

.hidden-up {
    transform: translateY(150px);
}

.hidden-left,
.hidden-right,
.hidden-up {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.hidden-left.show,
.hidden-right.show,
.hidden-up.show {
    opacity: 1;
    transform: translateX(0)
}


@keyframes hovering {
    0%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(30px);
    }
}

.why-Pryora-image{
    animation: hovering 5s ease-in-out infinite;
}




/* ==========================
   Tablet
========================== */

@media screen and (min-width: 700px) and (max-width: 999px) {

}

/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {

}


