<div class="horizontal-line">
  <hr />
</div>
<div class="space"></div>
<section class="footer-section">
  <div class="footer-top">
    <div>
      <a href="{{ url_for('home')}}"><h1 class="gradient-text">Pryora</h1></a>
      <p>Task Management Application</p>
      <p>
        Please <strong>DON'T</strong> use real data. Portfolio purposes only.
        Data will be deleted.
      </p>
    </div>
    <div>
      <p><strong>Quick Links</strong></p>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        {% if session.get('user-id') %}
        <li>
          <form action="{{ url_for('logout') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" value="Logout" class="logout-button-footer" />
          </form>
        </li>
        {% else %}
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{ url_for('register')}}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>©2026 Sheikh Hussain - Task Manager Project</p>
  </div>
</section>
